<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <meta http-equiv="refresh" content="1">-->
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/my.css">
</head>
<body>

<div class="layui-tab layui-tab-brief my-tab" lay-filter="doctor-manage" lay-allowclose="true">
    <ul class="layui-tab-title">
        <li class="layui-this unshow-i" lay-id="11">用户管理</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="doctor-manage-button" style="margin-bottom: 0;">
                <button class="layui-btn manage-active" data-type="tabAdd">医生列表</button>
            </div>
        </div>
    </div>
</div>


<script src="../layui/layui.js"></script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" @click="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:inline="none">
    layui.use(['table', 'element'], function () {
        var $ = layui.jquery
            , element = layui.element //Tab的切换功能，切换事件监听等，需要依赖element模块
            , table = layui.table
        ;

        //监听表格复选框选择
        table.on('checkbox(list-listener)', function (obj) {
            console.log(obj)
        });

        //头工具栏事件
        table.on('toolbar(list-listener)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }

        });

        //监听工具条
        table.on('tool(list-listener)', function (obj) {
            // alert("work!!");
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });


        var active = {
            tabAdd: function () {
                if ($("#doctor-list").length <= 0) {
                    element.tabAdd('doctor-manage', {
                        title: '医生列表' //用于演示
                        , content:
                            '<table id="doctor-list" lay-filter="list-listener"></table>'
                        , id: '66'
                    })
                    table.render({
                        elem: '#doctor-list'
                        , toolbar: '#toolbarDemo'
                        , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                            title: '提示'
                            , layEvent: 'LAYTABLE_TIPS'
                            , icon: 'layui-icon-tips'
                        }]
                        , height: '100%'
                        , width: '100%'
                        , title: '用户数据表'
                        , even: true
                        , skin: 'row'
                        , url: '/js/tabledata.js'
                        , id: 'doctorList'
                        , page: true //开启分页
                        , cols: [[ //表头
                            {type: 'numbers', fixed: "left"}
                            , {field: 'id', title: 'ID', width: 100, sort: true, fixed: "left"}
                            , {field: 'username', title: '用户名', width: 80}
                            , {field: 'sex', title: '性别', width: 80, sort: true}
                            , {field: 'city', title: '城市', width: 100}
                            , {field: 'sign', title: '签名', width: 180}
                            , {field: 'experience', title: '积分', width: 80, sort: true}
                            , {field: 'score', title: '评分', width: 80, sort: true}
                            , {field: 'classify', title: '职业', width: 80}
                            , {field: 'wealth', title: '财富', width: 135, sort: true}
                            , {fixed: 'right', type: 'checkbox'}
                            , {fixed: 'right', title: '操作', width: 178, align: 'center', toolbar: '#barDemo'}
                        ]]
                    });

                }
                element.tabChange('doctor-manage', '66');
            }


        };

        $('.manage-active').on('click', function () {
            var othis = $(this),
                type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

    });
</script>

</body>
</html>