<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/assistant.css">
</head>
<body>

<div class="layui-tab layui-tab-brief my-tab" lay-filter="management-mapnode">
    <ul class="layui-tab-title">
        <li class="layui-this">&nbsp;&nbsp;节点列表&nbsp;&nbsp;</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table id="mapnode-list" lay-filter="list-listener"></table>
        </div>
    </div>
</div>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="node-form">
    <form class="layui-form" action="" lay-filter="example">
        <div class="layui-input-block layui-form-text" style="width:400px;height:500px">
            <textarea placeholder="请输入内容" class="layui-textarea" name="desc" style="height:500px"></textarea>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-getval">取值</button>
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            </div>
        </div>
    </form>
</script>

<script src="/layui/layui.js"></script>
<script>
    layui.table.render( {
        elem: '#mapnode-list'
        , toolbar: '#toolbar'
        , title: '用户数据表'
        , url: '/admin/list_mapnode'
        , page: true
        , cols: [
            [
                {fixed: 'left', type: 'checkbox'}
                , {type: 'numbers', fixed: "left"}
                , {field: 'nodeId', title: '节点ID', width: 180}
                , {field: 'level', title: '层', width: 135}
                , {field: 'x', title: '水平', width: 135}
                , {field: 'y', title: '垂直', width: 135}
                , {field: 'nextNode', title: '连接节点', width: 135}
                , {field: 'stairNode', title: '楼梯上下', width: 135}
                , {field: 'elevatorId', title: '电梯群组ID', width: 135}
                , {field: 'elevatorNode', title: '电梯群组', width: 135}
                , {field: 'msg', title: '描述', width: 300}
                , {fixed: 'right', title: '操作', width: 178, align: 'center', toolbar: '#bar'}
            ]
        ]
        , defaultToolbar: [
            {title: '获取选中行数据', layEvent: 'getCheckData', icon: 'layui-icon-tips'}
            , {title: '获取选中数目', layEvent: 'getCheckLength', icon: 'layui-icon-tips'}
            , {title: '验证是否全选', layEvent: 'isAll', icon: 'layui-icon-tips'}
            , 'filter'
            , 'exports'
            , 'print'
        ]
        , even: true
        , skin: 'row'
        , limit: 20
    })
    //头工具栏事件
    layui.table.on('toolbar(list-listener)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
            case 'getCheckData':
                var data = checkStatus.data;
                layer.alert(JSON.stringify(data));
                break;
            case 'getCheckLength':
                var data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
                break;
            case 'isAll':
                layer.msg(checkStatus.isAll ? '全选' : '未全选');
                break;

            //自定义头工具栏右侧图标 - 提示
            case 'LAYTABLE_TIPS':
                layer.alert('这是工具栏右侧自定义的一个图标按钮');
                break;
        }

    });


    layui.table.on('tool(list-listener)', function (obj) {
        const data = obj.data;
        if (obj.event === 'detail') {
            layer.msg('ID：' + data.nodeId + ' 的查看操作');
        } else if (obj.event === 'del') {
            layer.confirm('真的删除行么', function (index) {
                obj.del();
                layer.close(index);
            });
        } else if (obj.event === 'edit') {
            layer.alert($('#node-form').html())
            layui.form.val('example', {
                'desc': JSON.stringify(data, null, 4)
            })
        }
    })
</script>
</body>
</html>