<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/assistant.css">
</head>
<body>

<div class="layui-tab layui-tab-brief my-tab" lay-filter="management-project">
    <ul class="layui-tab-title">
        <li class="layui-this">科室列表</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table id="project-list" lay-filter="list-listener"></table>
        </div>
    </div>
</div>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/layui/layui.js"></script>
<script>
    layui.table.render({
        elem: '#project-list'
        , toolbar: '#toolbar'
        , title: '用户数据表'
        , url: '/admin/list_project'
        , page: true
        , cols: [
            [
                {fixed: 'left', type: 'checkbox'}
                , {type: 'numbers', fixed: "left"}
                , {field: 'project', title: '检查项目', width: 135}
                , {field: 'department', title: '科室', width: 180}
                , {field: 'nodeId', title: '地图节点', width: 135}
                , {field: 'avetime', title: '平均用时', width: 135}
                , {field: 'msg', title: '描述', width: 300}
                , {fixed: 'right', title: '操作', width: 178, align: 'center', toolbar: '#bar'}
            ]
        ]
        , defaultToolbar: [
            {title: '获取选中行数据', layEvent: 'getCheckData', icon: 'layui-icon-tips'}
            , {title: '获取选中数目', layEvent: 'getCheckLength', icon: 'layui-icon-tips'}
            , {title: '验证是否全选', layEvent: 'isAll', icon: 'layui-icon-tips'}
            , 'filter'
            , 'exports'
            , 'print'
        ]
        , even: true
        , skin: 'row'
        , limit: 20
    })

    //头工具栏事件
    layui.table.on('toolbar(list-listener)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
            case 'getCheckData':
                var data = checkStatus.data;
                layer.alert(JSON.stringify(data));
                break;
            case 'getCheckLength':
                var data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
                break;
            case 'isAll':
                layer.msg(checkStatus.isAll ? '全选' : '未全选');
                break;

            //自定义头工具栏右侧图标 - 提示
            case 'LAYTABLE_TIPS':
                layer.alert('这是工具栏右侧自定义的一个图标按钮');
                break;
        }

    });

    //监听工具条
    layui.table.on('tool(list-listener)', function (obj) {
        var data = obj.data;
        if (obj.event === 'detail') {
            layer.msg('ID：' + data.username + ' 的查看操作');
        } else if (obj.event === 'del') {
            layer.confirm('test', function (index) {
                obj.del();
                layer.close(index);
                layui.$.ajax({
                    type: 'GET',
                    url: '/' + data.username,
                    async: false
                })
            });
        } else if (obj.event === 'edit') {
            layer.alert('编辑行：<br>' + JSON.stringify(data))
        }
    });
</script>

</body>
</html>