<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/assistant.css">
</head>
<body>

<div class="layui-tab layui-tab-brief my-tab" lay-filter="management-project">
    <ul class="layui-tab-title">
        <li class="layui-this">&nbsp;&nbsp;项目列表&nbsp;&nbsp;</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <fieldset class="layui-elem-field layui-field-title"
                      style="margin-top: 30px;width: 50%;text-align: left; margin-right: auto;  margin-left: auto;">
                <legend>项目总览表</legend>
            </fieldset>
            <table id="project-list" lay-filter="list-listener"></table>
        </div>
    </div>
</div>
<script type="text/html" id="node-form">
    <form class="layui-form" action="" lay-filter="example">
        <div class="layui-input-block layui-form-text" style="width:400px;height:500px">
            <textarea placeholder="请输入内容" class="layui-textarea" name="desc" style="height:500px"></textarea>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-getval">取值</button>
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            </div>
        </div>
    </form>
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/layui/layui.js"></script>
<script>
    layui.table.render({
        elem: '#project-list'
        , toolbar: '#toolbar'
        , title: '用户数据表'
        , url: '/admin/list_project'
        , page: true
        , cols: [
            [
                {fixed: 'left', type: 'checkbox'}
                , {type: 'numbers', fixed: "left"}
                , {field: 'project', title: '检查项目', width: 135}
                , {field: 'department', title: '科室', width: 180}
                , {field: 'nodeId', title: '地图节点', width: 135}
                , {field: 'avetime', title: '平均用时', width: 135}
                , {field: 'msg', title: '描述', width: 300}
                , {fixed: 'right', title: '操作', width: 178, align: 'center', toolbar: '#bar'}
            ]
        ]
        , defaultToolbar: [
            'filter'
            , 'exports'
            , 'print'
        ]
        , even: true
        , skin: 'row'
        , limit: 20
    })

    //头工具栏事件
    layui.table.on('toolbar(list-listener)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
            case 'getCheckData':
                var data = checkStatus.data;
                layer.alert(JSON.stringify(data));
                break;
            case 'getCheckLength':
                var data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
                break;
            case 'isAll':
                layer.msg(checkStatus.isAll ? '全选' : '未全选');
                break;
        }
    });

    //监听工具条
    layui.table.on('tool(list-listener)', function (obj) {
        var data = obj.data;
        if (obj.event === 'del') {
            layer.confirm('确定要删除该项目吗？', function (index) {
                obj.del();
                layer.close(index);
                layui.$.ajax({
                    type: 'GET',
                    url: '/' + data.username,
                    async: false
                })
            });
        } else if (obj.event === 'edit') {
            layer.alert(layui.jquery('#node-form').html())
            layui.form.val('example', {
                'desc': JSON.stringify(data, null, 4)
            })
        }
    });
</script>

</body>
</html>