<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/my.css">
</head>
<body>

<div class="layui-tab layui-tab-brief my-tab" lay-filter="demo" lay-allowclose="true">
    <ul class="layui-tab-title">
        <li class="layui-this unshow-i" lay-id="11">11111</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="site-demo-button" style="margin-bottom: 0;">
                <button class="layui-btn site-demo-active" data-type="tabAdd">新增Tab项</button>
            </div>
        </div>
    </div>
</div>


<script src="../layui/layui.js"></script>
<script th:inline="none">
    layui.use(['table', 'element'], function () {
        var $ = layui.jquery
            , element = layui.element //Tab的切换功能，切换事件监听等，需要依赖element模块
            , table = layui.table
        ;


        var active = {

            tabAdd: function () {
                if ($("#demo2").length <= 0) {
                    element.tabAdd('demo', {
                        title: '新增Tab项' //用于演示
                        , content: '<table id="demo2" lay-filter="test"></table>'
                        , id: '66'
                    })
                    table.render({
                        elem: '#demo2'
                        ,
                        height: 312
                        ,
                        url: '/js/tabledata.js'
                        ,
                        page: true //开启分页
                        ,
                        cols: [[ //表头
                            {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                            , {field: 'username', title: '用户名', width: 80}
                            , {field: 'sex', title: '性别', width: 80, sort: true}
                            , {field: 'city', title: '城市', width: 80}
                            , {field: 'sign', title: '签名', width: 177}
                            , {field: 'experience', title: '积分', width: 80, sort: true}
                            , {field: 'score', title: '评分', width: 80, sort: true}
                            , {field: 'classify', title: '职业', width: 80}
                            , {field: 'wealth', title: '财富', width: 135, sort: true}
                        ]]
                    });
                }
                element.tabChange('demo', '66');

            }

            , tabDelete: function () {
                //删除指定Tab项
                element.tabDelete('demo', '66'); //删除：“商品管理”
            }

            , tabChange: function () {
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }


        };


        $('.site-demo-active').on('click', function () {
            var othis = $(this),
                type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

    });
</script>

</body>
</html>