<!DOCTYPE html>
<html>
<body>


<button onclick="getNodeStr(1)">get!</button>
<div id="node">
</div>


<script src="/layui/layui.js"></script>
<script>
    function getNodeStr(level) {
        var str,
            $ = layui.jquery;
        $.ajax({
            url: "/admin/nodes_" + level,
            type: "GET",
            async: false,
            success: function (response) {
                str = JSON.parse(response)
            }
        });
        const index = str['index'],
            matrix = str['matrix'],
            mapNodes = str['mapNodes'];
        var text = '';

        for (var i = 0; i < index.length; i++) {
            for (var j = 0; j < index.length; j++) {
                if (matrix[i][j]) {
                    text += '<path id="line-' + i + '-' + j + '" d="M ' + mapNodes[i].x + ' ' + mapNodes[i].y + ' l ' + mapNodes[j].x + ' ' + mapNodes[j].y + '" stroke-width="3" fill="none" />';
                }
            }
        }
        $('#node').text(text);
    }
</script>


</body>
</html>