<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/assistant.css">
</head>
<body>

<div class="layui-tab layui-tab-brief my-tab" lay-filter="manage-doctor" lay-allowclose="true">
    <ul class="layui-tab-title">
        <li class="layui-this unshow-i">用户管理</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="layui-btn-group">
                <button class="layui-btn manage-active" data-type="list_doctor">医生列表</button>
                <button class="layui-btn manage-active" data-type="insert_insert">注册医生</button>
            </div>
        </div>
    </div>
</div>
<!--<script type="text/html" id="toolbar">-->
<!--    <div class="layui-btn-container">-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
<!--    </div>-->
<!--</script>-->

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/layui/layui.js"></script>
<script th:inline="none"> <!--src="/js/assistant.js">-->
    layui.use(['table', 'element', 'dropdown', 'util'], function () {

        var $ = layui.jquery
            , element = layui.element //Tab的切换功能，切换事件监听等，需要依赖element模块
            , table = layui.table
            , dropdown = layui.dropdown
            , util = layui.util

            , active = {
                list_doctor: function () {
                    if ($("#doctor-list").length <= 0) {
                        element.tabAdd('manage-doctor', {
                            title: '医生列表' //用于演示
                            , content:
                                '<table id="doctor-list" lay-filter="list-listener"></table>'
                            , id: 'doctor-list-tab'
                        })
                        table.render({
                            elem: '#doctor-list'
                            , toolbar: '#toolbar'
                            , defaultToolbar: [
                                {title: '获取选中行数据', layEvent: 'getCheckData', icon: 'layui-icon-tips'}
                                , {title: '获取选中数目', layEvent: 'getCheckLength', icon: 'layui-icon-tips'}
                                , {title: '验证是否全选', layEvent: 'isAll', icon: 'layui-icon-tips'}
                                ,'filter'
                                , 'exports'
                                , 'print'
                            ]
                            , height: '100%'
                            , width: '100%'
                            , title: '用户数据表'
                            , even: true
                            , skin: 'row'
                            , url: '/admin/list?name=doctor'
                            , limit: 20
                            , page: true //开启分页
                            , cols: [[ //表头
                                {type: 'numbers', fixed: "left"}
                                , {field: 'username', title: '用户名', width: 100, sort: true, fixed: "left"}
                                , {field: 'name', title: '姓名', width: 100}
                                , {field: 'department', title: '科室', width: 180}
                                , {field: 'sex', title: '性别', width: 80}
                                , {field: 'age', title: '年龄', width: 80}
                                , {field: 'phone', title: '电话', width: 135}
                                , {fixed: 'right', type: 'checkbox'}
                                , {fixed: 'right', title: '操作', width: 178, align: 'center', toolbar: '#bar'}
                            ]]
                        })

                    }
                    element.tabChange('manage-doctor', 'doctor-list-tab');
                }

                ,doctor_insert: function(){
                    element.tabAdd('manage-doctor', {
                        title: '注册医生' //用于演示
                        , content:
                            '<form class="layui-form" action="">' +
                            ''+
                            '</form>'
                        , id: 'doctor-insert-tab'
                    })
                    element.tabChange('manage-doctor', 'doctor-list-tab');
                }
            }
        ;


        //监听表格复选框选择
        table.on('checkbox(list-listener)', function (obj) {
            console.log(obj)
        });

        //头工具栏事件
        table.on('toolbar(list-listener)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }

        });

        //监听工具条
        table.on('tool(list-listener)', function (obj) {
            // alert("work!!");
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });


        // //右键菜单
        // dropdown.render({
        //     elem: '#doctor-list-background' //document 也可绑定到 document，从而重置整个右键
        //     , trigger: 'contextmenu' //contextmenu
        //     , isAllowSpread: false //禁止菜单组展开收缩
        //     , style: 'width: 200px' //定义宽度，默认自适应
        //     , id: 'test777' //定义唯一索引
        //     , data: [{
        //         title: 'menu item 1'
        //         , id: 'test'
        //     }, {
        //         title: 'Printing'
        //         , id: 'print'
        //     }, {
        //         title: 'Reload'
        //         , id: 'reload'
        //     }, {type: '-'}, {
        //         title: 'menu item 3'
        //         , id: '#3'
        //         , child: [{
        //             title: 'menu item 3-1'
        //             , id: '#1'
        //         }, {
        //             title: 'menu item 3-2'
        //             , id: '#2'
        //         }, {
        //             title: 'menu item 3-3'
        //             , id: '#3'
        //         }]
        //     }, {type: '-'}, {
        //         title: 'menu item 4'
        //         , id: ''
        //     }, {
        //         title: 'menu item 5'
        //         , id: '#1'
        //     }, {
        //         title: 'menu item 6'
        //         , id: '#1'
        //     }]
        //     , click: function (obj, othis) {
        //         if (obj.id === 'test') {
        //             layer.msg('click');
        //         } else if (obj.id === 'print') {
        //             window.print();
        //         } else if (obj.id === 'reload') {
        //             location.reload();
        //         }
        //     }
        // });

        //其他操作
        // util.event('lay-demoactive', {
        //     //全局右键菜单
        //     rightclick: function(othis){
        //         if(!othis.data('open')){
        //             dropdown.reload('test777', {
        //                 elem: document //将事件直接绑定到 document
        //             });
        //             layer.msg('已开启全局右键菜单，请尝试在页面任意处单击右键。')
        //             othis.html('取消全局右键菜单');
        //             othis.data('open', true);
        //         } else {
        //             dropdown.reload('test777', {
        //                 elem: '#' //重新绑定到指定元素上
        //             });
        //             layer.msg('已取消全局右键菜单，恢复默认右键菜单')
        //             othis.html('开启全局右键菜单');
        //             othis.data('open', false);
        //         }
        //     }
        // })

        $('.manage-active').on('click', function () {
            var othis = $(this),
                type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

    });
</script>

</body>
</html>