<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/assistant.css">
    <style>
        .line {
            fill: none;
            stroke: black;
            stroke-width: 3;
        }

        .svgStyle {
            position: absolute;
            width: 1133px;
            height: 743px;
        }
    </style>
</head>
<body>
<div class="layui-tab layui-tab-brief my-tab" lay-filter="map" lay-allowclose="true">
    <ul class="layui-tab-title">
        <li class="layui-this unshow-i">&nbsp;&nbsp;路线查看&nbsp;&nbsp;</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <fieldset class="layui-elem-field layui-field-title"
                      style="margin-top: 30px;width: 50%;text-align: left; margin-right: auto;  margin-left: auto;">
                <legend>生成新路线</legend>
            </fieldset>

            <div class="map-button" style="margin: 30px">
                <button class="layui-btn layui-btn-normal map-active" data-type="path" action="best">生成最佳路线</button>
                <button class="layui-btn layui-btn-normal map-active" data-type="path" action="path">生成路径最短路线</button>
                <button class="layui-btn layui-btn-normal map-active" data-type="path" action="time">生成时间最短路线</button>
                <button class="layui-btn layui-btn-normal map-active" data-type="path" action="nostair">生成无楼梯路线</button>
            </div>

            <fieldset class="layui-elem-field layui-field-title"
                      style="margin-top: 30px;width: 50%;text-align: left; margin-right: auto;  margin-left: auto;">
                <legend>当前路线</legend>
            </fieldset>

            <div class="map-button" style="margin: 30px" id="floor-btn">
                <button class="layui-btn layui-btn-warm map-active" data-type="clear">清空TAG</button>
                <button class="layui-btn layui-btn-disabled">当前推荐路径</button>
            </div>
        </div>
    </div>
</div>

<script src="/layui/layui.js"></script>
<script th:inline="none">
    let n, resultPath, mainPath, adjacency
    const element = layui.element,
        $ = layui.jquery,
        active = {
            path: function (othis) {
                const action = othis.attr('action'),
                    text = othis.text()
                layer.confirm('确定要' + text + '吗？此操作会丢失您之前的路线推荐！', function (index) {
                    layer.close(index);
                    $.ajax({
                        type: 'GET',
                        url: '/patient/path.create?action=' + action,
                        async: false,
                        success: function (res) {
                            if (res !== null) {
                                resultPath = JSON.parse(res.resultPath)
                                mainPath = JSON.parse(res.mainPath)
                            }
                        }
                    })
                    active.clear.call()
                });
            },
            addFloor: function (othis) {
                const floor = parseInt(othis.attr('floor'))
                if ($('#floor-' + floor).length <= 0) {
                    element.tabAdd('map', {
                        title: '&nbsp;&nbsp;' + floor + '楼地图&nbsp;&nbsp;'
                        , content:
                            '<div id="floor-' + floor + '">'
                            + '<svg class="svgStyle map-active-showMeXY" xmlns="http://www.w3.org/2000/svg" version="1.1">'
                            + active.getNodeStr(floor)
                            + '</svg>'
                            + '<img src="/img/floor' + floor + '.png" style="-webkit-user-drag:none"/>'
                            + '</div>'
                            + ' <div className = "layui-btn-group">'
                            + ((floor === 1) ? '' : '<button class = "layui-btn map-active-0" data-type="addFloor" floor="' + (floor - 1) + '">下一层</button>')
                            + ((floor === n) ? '' : '<button class = "layui-btn map-active-0" data-type="addFloor" floor="' + (floor + 1) + '">上一层</button>')
                            + '</div>'
                        , id: 'floor-' + floor
                    })
                    $('.map-active-0').on('click', function () {
                        let othis = $(this), type = othis.data('type');
                        active[type] ? active[type].call(this, othis) : '';
                    });
                }
                element.tabChange('map', 'floor-' + floor);
            },
            clear: function () {
                for (let i = 1; i <= n; i++) {
                    element.tabDelete('map', 'floor-' + i)
                }
            },
            getNodeStr: function (level) {
                console.log(adjacency[level]);
                const
                    index = adjacency[level]['index'],
                    matrix = adjacency[level]['adjacencyMatrix'],
                    mapNodes = adjacency[level]['mapNodes']
                let text = ''
                console.log(resultPath);
                console.log(mainPath);
                for (let i = 0; i < resultPath.length; i++) {
                    let ii = index.indexOf(resultPath[i])
                    if (mapNodes[ii] != null && mapNodes[ii].level === level) {
                        if (mainPath.indexOf(resultPath[i]) >= 0) {
                            text += '<circle id="point-' + resultPath[i] + '" cx="' + mapNodes[ii].x + '" cy="' + mapNodes[ii].y + '"  r="20" stroke="#61AFEF" fill="#61AFEF"/>' +
                                '<text style="text-anchor: middle;dominant-baseline: middle" x="' + mapNodes[ii].x + '" y="' + mapNodes[ii].y + '" fill="black">S' + (mainPath.indexOf(resultPath[i]) + 1) + '</text>'
                        } else {
                            text += '<circle id="point-' + resultPath[i] + '" cx="' + mapNodes[ii].x + '" cy="' + mapNodes[ii].y + '"  r="5" stroke="#009688" fill="#009688"/>'
                        }
                        let iip = index.indexOf(resultPath[i + 1])
                        if (i + 1 < resultPath.length && mapNodes[iip] != null) {
                            let d = 'M ' + mapNodes[ii].x + ' ' + mapNodes[ii].y + ' L ' + mapNodes[iip].x + ' ' + mapNodes[iip].y;
                            text += '<path id="line-' + resultPath[i] + '-' + resultPath[i + 1] + '" d="' + d + '" stroke-dasharray="5,5" stroke="#009688" stroke-linecap="round" stroke-width="2" fill="none"/>';
                            text += '<circle id="point-' + resultPath[i] + '" r="5" stroke="#61AFEF" fill="#61AFEF"><animateMotion path="' + d + '" dur="5s" fill="freeze" repeatCount="indefinite"/></circle>';
                        }
                    }

                }
                // for (let i = 0; i < index.length; i++) {
                //     for (let j = 0; j <= i; j++) {
                //         if (resultPath.indexOf(index[i]) >= 0 && resultPath.indexOf(index[j]) >= 0) {
                //             let d;
                //             let id;
                //             if (i === j) {
                //                 text += '<circle id="point-' + index[i] + '" cx="' + mapNodes[i].x + '" cy="' + mapNodes[i].y + '"  r="5" stroke="#009688" fill="#009688"/>'
                //             } else if (matrix[i][j]) {
                //                 id = '' + index[i] + '-' + index[j];
                //                 d = 'M ' + mapNodes[i].x + ' ' + mapNodes[i].y + ' L ' + mapNodes[j].x + ' ' + mapNodes[j].y;
                //                 if (matrix[j][i]) {
                //                     text += '<path id="line-' + id + '" d="' + d + '" stroke="#009688" stroke-linecap="round" stroke-width="2"/>';
                //                 } else {
                //                     text += '<path id="line-' + id + '" d="' + d + '" stroke-dasharray="5,5" stroke="#009688" stroke-linecap="round" stroke-width="2" fill="none"/>';
                //                     text += '<circle id="point-' + id + '" r="5" stroke="#009688" fill="#009688"><animateMotion path="' + d + '" dur="5s" fill="freeze" repeatCount="indefinite"/></circle>';
                //                 }
                //             } else if (matrix[j][i]) {
                //                 id = '' + index[j] + '-' + index[i];
                //                 d = 'M ' + mapNodes[j].x + ' ' + mapNodes[j].y + ' L ' + mapNodes[i].x + ' ' + mapNodes[i].y;
                //                 text += '<path id="line-' + id + '" d="' + d + '" stroke-dasharray="5,5" stroke="#009688" stroke-linecap="round" stroke-width="2" fill="none"/>';
                //                 text += '<circle id="point-' + id + '" r="5" stroke="#009688" fill="#009688"><animateMotion path="' + d + '" dur="5s" fill="freeze" repeatCount="indefinite"/></circle>';
                //             }
                //         }
                //     }
                // }
                return text;
            }
        }
    $.ajax({
        url: "/patient/path.nodes",
        type: "GET",
        async: false,
        success: function (res) {
            adjacency = res

            n = Object.keys(res).length;
            let str = ''
            for (let i = 1; i <= n; i++) {
                str += '<button class="layui-btn map-active" data-type="addFloor" floor="' + i + '">' + i + '楼地图</button>'
            }
            $('#floor-btn').append(str);
        }
    });

    $.ajax({
        url: "/patient/path.check",
        type: "GET",
        async: false,
        success: function (res) {
            if (res !== null) {
                resultPath = JSON.parse(res.resultPath)
                mainPath = JSON.parse(res.mainPath)
            }
        }
    })

    $('.map-active').on('click', function () {
        const othis = $(this), type = othis.data('type');
        active[type] ? active[type].call(this, othis) : '';
    });
</script>
</body>
</html>