<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/assistant.css">
</head>
<body>

<div class="layui-tab layui-tab-brief my-tab" lay-filter="management-activity" lay-allowclose="true">
    <ul class="layui-tab-title">
        <li class="layui-this unshow-i">&nbsp;&nbsp;清单管理&nbsp;&nbsp;</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <fieldset class="layui-elem-field layui-field-title"
                      style="margin-top: 30px;width: 50%;text-align: left; margin-right: auto;  margin-left: auto;">
                <legend>您的项目排队情况</legend>
            </fieldset>
            <table id="checkList" lay-filter="list-listener"></table>
        </div>
    </div>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="reg">挂号</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="unreg">退号</a>
</script>
<script src="/layui/layui.js"></script>
<script>
    const table = layui.table,
        $ = layui.jquery
    table.render({
        elem: '#checkList'
        , title: '清单'
        , url: '/patient/project.getque'
        , page: false
        , cols: [
            [
                {fixed: 'left', type: 'checkbox'}
                , {type: 'numbers', fixed: "left"}
                , {field: 'state', title: '状态', width: 100, sort: true, fixed: "left"}
                , {field: 'project', title: '项目', width: 200}
                , {field: 'waitTime', title: '等待时间', width: 180}
                , {field: 'waitCount', title: '排队人数', width: 100}
                , {fixed: 'right', title: '操作', width: 178, align: 'center', toolbar: '#bar'}
            ]
        ]
        , even: true
        , skin: 'row'
    })

    //监听工具条
    table.on('tool(list-listener)', function (obj) {
        let data = obj.data;
        if (obj.event === 'reg') {
            $.ajax({
                url: '/patient/queue.reg?project=' + data.project,
                type: 'GET',
                async: false,
                success: function (res) {
                    if (res) {
                        location.reload();
                    } else {
                        layer.msg('失败');
                    }
                }
            })
        } else if (obj.event === 'unreg') {
            layer.confirm('确定退号吗?', function () {
                $.ajax({
                    url: '/patient/queue.del?project=' + data.project,
                    type: 'GET',
                    async: false,
                    success: function (res) {
                        if (res) {
                            location.reload();
                        } else {
                            layer.msg('失败');
                        }
                    }
                })
            })
        }
    });
</script>
</body>
</html>