<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assistant.mapper.AdminMapper">
    <select id="findAll" resultType="com.assistant.model.enity.Admin">
        select *
        from admin
    </select>
    <select id="password" resultType="java.lang.String">
        select admin.password
        from admin
        where username = #{username}
    </select>
    <select id="getByName" resultType="com.assistant.model.enity.Admin">
        select *
        from admin
        where username = #{username}
    </select>
    <select id="checkUserName" resultType="java.lang.String">
        SELECT username
        FROM admin
        WHERE FIND_IN_SET(#{usernaem}, admin.username)
        UNION
        SELECT username
        FROM doctor
        WHERE FIND_IN_SET(#{usernaem}, doctor.username)
        UNION
        SELECT username
        FROM patient
        WHERE FIND_IN_SET(#{usernaem}, patient.username);
    </select>
</mapper>