<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assistant.mapper.DoctorMapper">

    <insert id="insertDocs" parameterType="com.assistant.model.enity.Doctor">
        insert into doctor (`username`, `password`, `name`, `department`, `sex`, `age`, `phone`)
        values
        <foreach collection="list" item="doctor" index="index" separator=",">
            (
            #{doctor.username,jdbcType=VARCHAR},
            #{doctor.password,jdbcType=VARCHAR},
            #{doctor.name,jdbcType=VARCHAR},
            #{doctor.department,jdbcType=VARCHAR},
            #{doctor.sex,jdbcType=VARCHAR},
            #{doctor.age,jdbcType=INTEGER},
            #{doctor.phone,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <select id="password" resultType="java.lang.String">
        select doctor.password
        from doctor
        where username = #{username}
    </select>
    <select id="selectAllDocs" resultType="com.assistant.model.enity.Doctor">
        select `username`, `name`, `department`, `sex`, `age`, `phone`
        from doctor
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from doctor
    </select>
</mapper>