<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assistant.mapper.MapNodeMapper">
    <insert id="insert" parameterType="com.assistant.model.enity.MapNode">
        insert into mapnode (nodeId, nodeName, level, x, y, nextNode, stairNode, elevatorNode, elevatorId, msg)
        values (#{nodeId},
                #{nodeName},
                #{level},
                #{x},
                #{y},
                #{nextNode},
                #{stairNode},
                #{elevatorNode},
                #{elevatorId},
                #{msg})
    </insert>

    <insert id="insertAll">
        insert into mapnode (nodeId, nodeName, level, x, y, nextNode, stairNode, elevatorNode, elevatorId, msg)
        values
        <foreach collection="list" item="mapnode" index="index" separator=",">
            (
            #{mapnode.nodeId,jdbcType=VARCHAR},
            #{mapnode.nodeName,jdbcType=VARCHAR},
            #{mapnode.level,jdbcType=INTEGER},
            #{mapnode.x,jdbcType=INTEGER},
            #{mapnode.y,jdbcType=INTEGER},
            #{mapnode.nextNode,jdbcType=VARCHAR},
            #{mapnode.stairNode,jdbcType=VARCHAR},
            #{mapnode.elevatorNode,jdbcType=VARCHAR},
            #{mapnode.elevatorId,jdbcType=INTEGER},
            #{mapnode.msg,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="findAll" resultType="com.assistant.model.enity.MapNode">
        select *
        from mapnode
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from mapnode
    </select>
    <select id="getNodesByLevel" resultType="com.assistant.model.enity.MapNode">
        select *
        from mapnode
        where level = #{level}
    </select>
</mapper>