<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assistant.mapper.MessageMapper">

    <insert id="insert">
        insert into message(speakerUsername, speakerName, speakerRole, msg, datestr)
            value (#{speakerUsername}, #{speakerName}, #{speakerRole}, #{msg}, #{datestr})
    </insert>
    <select id="select" resultType="com.assistant.model.enity.Message">
        select *
        from message
    </select>
</mapper>