<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assistant.mapper.PatientMapper">
    <insert id="insert">
        insert into patient(username, password, exception)
        values (#{username}, #{password}, 0)
    </insert>
    <insert id="insertPats">
        insert into patient (username, password, name, sex, age, phone, exception, msg)
        values
        <foreach collection="list" item="patient" index="index" separator=",">
            (
            #{patient.username,jdbcType=VARCHAR},
            #{patient.password,jdbcType=VARCHAR},
            #{patient.name,jdbcType=VARCHAR},
            #{patient.sex,jdbcType=VARCHAR},
            #{patient.age,jdbcType=INTEGER},
            #{patient.phone,jdbcType=INTEGER},
            #{patient.exception,jdbcType=INTEGER},
            #{patient.msg,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="password" resultType="java.lang.String">
        select patient.password
        from patient
        where username = #{username}
    </select>
    <select id="selectAll" resultType="com.assistant.model.enity.Patient">
        select username, name, sex, age, phone, exception, msg
        from patient
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from patient
    </select>
    <select id="getByName" resultType="com.assistant.model.enity.Patient">
        select count(*)
        from patient
        where username = #{username}
    </select>
    <select id="getPatientList" resultType="com.assistant.model.enity.Patient">
        select username, sex, age, phone, exception, msg from patient
        where patient.username in
        <foreach collection="list" item="patient" open="(" close=")" separator=",">
            #{patient}
        </foreach>
    </select>
</mapper>