<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assistant.mapper.ProjectMapper">
    <insert id="insertAll">
        insert into project (project,department,aveTime,nodeId,msg)
        values
        <foreach collection="list" item="project" index="index" separator=",">
            (
            #{project.project,jdbcType=VARCHAR},
            #{project.department,jdbcType=VARCHAR},
            #{project.avetime,jdbcType=INTEGER},
            #{project.nodeId,jdbcType=VARCHAR},
            #{project.msg,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectAll" resultType="com.assistant.model.enity.Project">
        select *
        from project
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from project
    </select>
    <select id="selectByDepartment" resultType="com.assistant.model.enity.Project">
        select count(*)
        from project
        where department = #{department}
    </select>
    <select id="selectByProject" resultType="com.assistant.model.enity.Project">
        select count(*)
        from project
        where project = #{project}
    </select>
    <select id="selectByIds" resultType="com.assistant.model.enity.Project">
        select * from project
        where project.project in
        <foreach collection="list" item="project" open="(" close=")" separator=",">
            #{project}
        </foreach>
    </select>
</mapper>