<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>检查助手</title>

    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="layui/layui.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/config.js"></script>
</head>
<body>

<div id="app">
    <!--顶栏-->
    <header>
        <h1 v-text="webname" style="font-size: 20px;width:200px"></h1>
        <div>
            <ul class="breadcrumb-left">
                <li>
                    <span class="layui-breadcrumb">
                        <a id="a1">首页</a>
                        <a id="a2"></a>
                    </span>
                </li>
                <li>
                    <!--                    <div class="layui-form layui-hide-xxs component" lay-filter="LAY-site-header-component">-->
                    <!--                        <select lay-search="" lay-filter="component">-->
                    <!--                            <option value="">搜索组件模块</option>-->
                    <!--                            <option value="element/layout.html">grid 栅格布局</option>-->
                    <!--                        </select>-->
                    <!--                        <div class="layui-form-select">-->
                    <!--                            <div class="layui-select-title"><input type="text" placeholder="搜索组件模块" value="" class="layui-input"><i-->
                    <!--                                    class="layui-edge"></i></div>-->
                    <!--                            <dl class="layui-anim layui-anim-upbit">-->
                    <!--                                <dd lay-value="" class="layui-select-tips">搜索组件模块</dd>-->
                    <!--                            </dl>-->
                    <!--                        </div>-->
                    <!--                        <i class="layui-icon layui-icon-search"></i>-->
                    <!--                    </div>-->
                </li>
            </ul>


            <ul class="layui-nav breadcrumb-right" lay-bar="disabled">
                <li class="layui-nav-item">
                    <a href="javascript:;"><img src="../img/pic.png" class="layui-nav-img" alt=""></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">子级菜单</a></dd>
                        <dd><a href="javascript:;">横线隔断</a></dd>
                        <hr>
                        <dd style="text-align: center;"><a href="">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="">小圆点<span class="layui-badge-dot"></span></a>
                </li>
<!--                <li class="layui-nav-item">-->
<!--                    <a href="">带徽章<span class="layui-badge">9</span></a>-->
<!--                </li>-->
            </ul>

        </div>
    </header>

    <div class="main">

        <div class="left">
            <ul class="layui-nav layui-nav-tree layui-inline">
                <!--顶级分类-->
                <li v-for="vo,index in menu" class="layui-nav-item layui-nav-itemed layui-menu-item-up">
                    <a href="javascript:;" @click="onActive(index)">
                        <i class="layui-icon" v-html="vo.icon"></i>
                        <span v-text="vo.name"></span>
                    </a>
                    <!--子级分类-->
                    <dl v-if="vo.list != ''" class="layui-nav-child">
                        <dd v-for="vo2,index2 in vo.list">
                            <a href="javascript:;" target="main" v-text="vo2.name"
                               @click="onActive(index,index2)"></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>

        <!--右侧-->
        <div class="right">
            <iframe src="main" name="main" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto"
                    target="_self"></iframe>
        </div>
    </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>
