<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/assistant.css">
</head>
<body>

<div class="layui-tab layui-tab-brief my-tab" lay-filter="element-filter" lay-allowclose="true">
    <ul class="layui-tab-title">
        <li class="layui-this unshow-i">&nbsp;&nbsp;项目队列管理&nbsp;&nbsp;</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <fieldset class="layui-elem-field layui-field-title"
                      style="margin-top: 30px;width: 50%;text-align: left; margin-right: auto;  margin-left: auto;">
                <legend>选择科室项目</legend>
            </fieldset>
            <div class="map-button" id="buttons"></div>
        </div>
    </div>
</div>

<script type="text/html" id="patientInfo">
    <div class="layui-form" lay-filter="patient" id="pageInfo">
        <div class="layui-form-item">
            <label class="layui-form-label">患者姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="患者姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="m" title="男" checked="">
                <input type="radio" name="sex" value="f" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <input type="text" name="phone" placeholder="联系方式" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="age" placeholder="年龄" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">附加</label>
            <div class="layui-input-block">
                <input type="text" name="exception" placeholder="附加" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/layui/layui.js"></script>
<script>
    const $ = layui.jquery,
        form = layui.form,
        table = layui.table,
        element = layui.element,
        active = {
            toJSON: function (response) {
                form.val('patient', {
                    "name": response['']
                    , "sex": ""
                    , "phone": ""
                    , "age": ""
                    , "exception": ""
                });

            },
            pop: function (project) {
                let data;
                $.ajax({
                    type: 'GET',
                    url: '/doctor/queue.pop',
                    data: {"project": project},
                    async: false,
                    success: function (response) {
                        data = JSON.parse(response);
                    }
                })
                if (data != null) {
                    form.val('patient', data);
                } else {
                    form.val('patient', {
                        "name": ""
                        , "sex": ""
                        , "phone": ""
                        , "age": ""
                        , "exception": ""
                    });
                }

                return false;
            },
            peek: function (project) {
                let data;
                $.ajax({
                    type: 'GET',
                    url: '/doctor/queue.peek',
                    data: {"project": project},
                    async: false,
                    success: function (response) {
                        data = JSON.parse(response);
                    }
                })
                form.val('patient', data);
                return false;
            },
            getList: function (project) {
                if ($('#list-' + project).length > 0) {
                    element.tabDelete('element-filter', 'list-' + project)
                }
                element.tabAdd('element-filter', {
                    title: '&nbsp;&nbsp;' + project + '排队列表&nbsp;&nbsp;'
                    , content:
                        '<fieldset class="layui-elem-field layui-field-title"' +
                        'style="margin-top: 30px;width: 50%;text-align: left; margin-right: auto;  margin-left: auto;">' +
                        '<legend>患者信息</legend>' +
                        '</fieldset>' +
                        '<table id="list-' + project + '" lay-filter="table-filter"></table>'
                    , id: 'list-' + project
                })

                element.tabChange('element-filter', 'list-' + project);
                table.render({
                    elem: '#list-' + project
                    , title: '用户数据表'
                    , url: '/doctor/queue.check'
                    , where: {project: project}
                    , page: false
                    , cols: [
                        [ // TODO
                            {fixed: 'left', type: 'checkbox'}
                            , {type: 'numbers', fixed: "left"}
                            , {field: 'username', title: '用户名', width: 100, sort: true, fixed: "left"}
                            , {field: 'date', title: '排队时间', width: 200}
                            , {field: 'name', title: '姓名', width: 100}
                            , {field: 'sex', title: '性别', width: 80}
                            , {field: 'age', title: '年龄', width: 80}
                            , {field: 'phone', title: '电话', width: 135}
                            , {field: 'exception', title: '备注', width: 80}
                            , {field: 'msg', title: '描述', width: 300}
                            , {fixed: 'right', title: '操作', width: 178, align: 'center', toolbar: '#bar'}
                        ]
                    ]
                    , even: true
                    , skin: 'row'
                    , limit: 20
                });
            },
            addPage: function (obj) {
                let project = obj.attr('project').toString()
                if ($('#page-' + project).length <= 0) {
                    element.tabAdd('element-filter', {
                        title: '&nbsp;&nbsp;' + project + '&nbsp;&nbsp;'
                        , content:
                            '<fieldset class="layui-elem-field layui-field-title"' +
                            'style="margin-top: 30px;width: 50%;text-align: left; margin-right: auto;  margin-left: auto;">' +
                            '<legend>患者信息</legend>' +
                            '</fieldset>' +
                            $('#patientInfo').html() +
                            '<fieldset class="layui-elem-field layui-field-title"' +
                            'style="margin-top: 30px;width: 50%;text-align: left; margin-right: auto;  margin-left: auto;">' +
                            '<legend>检查操作</legend>' +
                            '</fieldset>' +
                            '<div class="layui-input-block">\n' +
                            '<button class="layui-btn layui-btn-normal project-active" project = "' + project + '" data-type="peek">刷新</button>\n' +
                            '<button class="layui-btn layui-btn-warm project-active" project = "' + project + '" data-type="pop">完成当前检查</button>\n' +
                            '<button class="layui-btn project-active" project = "' + project + '" data-type="getList">患者排队情况</button>' +
                            '</div>' +
                            '<table id="page-' + project + '" lay-filter="table-filter"></table>'
                        , id: 'page-' + project
                    })
                    $('.project-active').on('click', function () {
                        var othis = $(this), type = othis.data('type');
                        var project = othis.attr('project').toString()
                        active[type] ? active[type].call(this, project) : '';
                    });
                }
                element.tabChange('element-filter', 'page-' + project);
                active.peek.call(this, project)
            }
        }

    $.ajax({
        url: "/doctor/getProjects",
        type: "GET",
        async: false,
        success: function (res) {
            let str = ""
            const n = res.length;
            for (let i = 0; i < n; i++) {
                str += '<button class="layui-btn element-active" project = "' + res[i] + '" data-type="addPage">' + res[i] + '</button>'
            }
            $('#buttons').html(str)
            $('.element-active').on('click', function () {
                var othis = $(this), type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });
        }
    })

    table.on('tool(list-listener)', function (obj) {
        var data = obj.data;
        if (obj.event === 'detail') {
            layer.msg('ID：' + data.username + ' 的查看操作');
        } else if (obj.event === 'del') {
            layer.confirm('确定将他踢出队伍?', function (index) {
                obj.del();
                layer.close(index);
                layui.$.ajax({
                    type: 'GET',
                    url: '/doctor/queue.del_' + data.username,
                    async: false
                })
            });

        } else if (obj.event === 'edit') {
            layer.alert('编辑行：<br>' + JSON.stringify(data))
        }
    });


</script>
</body>
</html>