<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/assistant.css">
</head>
<body>

<div class="layui-tab layui-tab-brief my-tab" lay-filter="management-queue">
    <ul class="layui-tab-title">
        <li class="layui-this">科室队列管理</li>
        <li>患者排队列表</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="map-button">
                <div id="thisPatient"></div>
                <button class="layui-btn queue-active" data-type="doQue">完成当前检查</button>
            </div>
        </div>
        <div class="layui-tab-item">
            <table id="queue-list" lay-filter="list-listener"></table>
        </div>
    </div>
</div>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/layui/layui.js"></script>
<script>
    // let project;
    // layui.$.ajax({
    //     type: 'GET',
    //     url: '/doctor/getQue',
    //     async: false,
    //     success: function (data) {
    //         project = data;
    //     }
    // })
    const listListener = function (obj) {
        // alert("work!!");
        var data = obj.data;
        if (obj.event === 'detail') {
            layer.msg('ID：' + data.username + ' 的查看操作');
        } else if (obj.event === 'del') {
            layer.confirm('确定将他踢出队伍?', function (index) {
                obj.del();
                layer.close(index);
                layui.$.ajax({
                    type: 'GET',
                    url: '/doctor/delFromQue_' + data.username,
                    async: false
                })
            });

        } else if (obj.event === 'edit') {
            layer.alert('编辑行：<br>' + JSON.stringify(data))
        }
    };

    const page_config = {
        elem: '#queue-list'
        , toolbar: '#toolbar'
        , title: '用户数据表'
        , url: '/doctor/check_queue'//+project
        , page: false
        , cols: [
            [
                {fixed: 'left', type: 'checkbox'}
                , {type: 'numbers', fixed: "left"}
                , {field: 'username', title: '用户名', width: 100, sort: true, fixed: "left"}
                , {field: 'date', title: '排队时间', width: 200}
                , {field: 'name', title: '姓名', width: 100}
                , {field: 'sex', title: '性别', width: 80}
                , {field: 'age', title: '年龄', width: 80}
                , {field: 'phone', title: '电话', width: 135}
                , {field: 'exception', title: '备注', width: 80}
                , {field: 'msg', title: '描述', width: 300}
                , {fixed: 'right', title: '操作', width: 178, align: 'center', toolbar: '#bar'}
            ]
        ]
    };
</script>
<script src="/js/table.js"></script>
<script>
    layui.use([], function () {
        var $ = layui.jquery,
            active = {
                doQue: function () {
                    layui.$.ajax({
                        type: 'GET',
                        url: '/doctor/doQue',
                        async: false,
                        success: function (data) {
                            layer.msg('完成检查');
                            $('#thisPatient').text(data)
                        }
                    })
                },
                initPatient: function () {
                    layui.$.ajax({
                        type: 'GET',
                        url: '/doctor/getQue',
                        async: false,
                        success: function (data) {
                            $('#thisPatient').text(data)
                        }
                    })
                }
            }
        ;
        $('.queue-active').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
        active["initPatient"].call(this);
    });
</script>
</body>
</html>